/* Styles spécifiques, complétant Tailwind CSS */
body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.tabs-list {
    display: flex;
}

.tab {
    padding: 0.75rem 1.25rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

.tab.active {
    border-color: #4f46e5; /* Indigo-600 */
    color: #4f46e5;
}

.tabs-content {
    display: none;
    padding: 1.5rem;
    animation: fade-in 0.4s ease;
}

.tabs-content.active {
    display: block;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input,
.textarea,
.select {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #e5e7eb; /* Gray-200 */
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 0.25rem;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.input:focus,
.textarea:focus,
.select:focus {
    outline: none;
    border-color: #4f46e5; /* Indigo-600 */
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5); /* Indigo-600 with opacity */
}

.form-checkbox, .form-radio {
    border-radius: 0.25rem;
}

/* Animations */
.animate-fade-up {
    animation: fade-up 0.5s ease-out;
}

.animate-delay-500 {
    animation-delay: 0.5s;
}

.animate-delay-1000 {
    animation-delay: 1s;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles pour la page d'accueil */
.hero {
    background-size: cover;
    background-position: center;
}

.feature-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
}

.feature-card:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

/* Styles pour le formulaire d'inscription */
#inscription-message, #inscription-error {
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.bg-indigo-50 {
    background-color: rgba(238, 242, 255, 0.5); /* Indigo-50 avec transparence */
}

.backdrop-blur-md {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
